
#footer{
	background-color: black;
	text-align: center;
	color: white;
	font-size: 14px;
}
#text{
	margin: 5px;	
}
#text2{
	font-size: 10px;
	font-family:fantasy;
}

#refPic{
	border-style: none;
}

#header{
	margin-top: 35px;
}
